body{
	background-color: rgb(66, 188, 244);
}

blockquote{
	background: white;
	opacity: 0.5;
}

nav a{
	color: white;
	text-decoration: none;
	font-family: arial
}

nav a:hover{
	text-decoration: underline;
}

dt{
	color:gold;
	font-family: arial;
	margin-top: 10px;
}

dd{
	color: white;
	font-family: arial;
	margin-top: 10px;
}

li{
	margin-top: 10px
}

.h1{
	text-align: center;
	padding-top: 35px;
	font-family: 
}

.haus{
	display: grid;
	grid-template-columns: 1fr 1fr;

	width: 60em;
	margin: 0 auto;
}

.midja{
	background: linear-gradient(#fff1cc,#ffdf89);
}

.breidd{
	margin: 0 auto;
	max-width: 60em;	
	padding-bottom: 35px;
	text-align: center;
}

.fotur{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	

	width: 60em;	
	margin: 0 auto;
}

.eh{
	text-align: center;
}
